@import "../../node_modules/bulma/sass/utilities/initial-variables"
@import "~bootstrap/dist/css/bootstrap.min.css"


@import "trafimage"
@import "helpers"

body
  font-family: 'lato', sans-serif

.navbar.navbar-menu
  box-shadow: none !important

.backgroundImage
  width: 100%
  position: relative
  z-index: 2

.navbar, .topSection, .priceSection, .footer, .blueBack
  background: linear-gradient(90deg, $primary, $secondary)

// Common style shared by license and benefit section
@mixin licenseBenefitSharingStyle($sectionContent,$backgroundColor,$cardViewSpacerHeight)
  position: relative
  z-index: 1
  background-color: $backgroundColor
  padding-bottom: 10rem
  & .#{$sectionContent}
    margin-top: -15rem
    position: relative
    z-index: 20
    & h1
      color: $primary
    & .cardViewSection
      position: relative
    & .cardViewContainer
      overflow: hidden
      position: absolute
      width: 100vw
      height: calc(100vw * 772 / 1336)
      max-width: 90rem
      max-height: calc(90rem * 772 / 1336)
      top: calc(17rem - 30vw)
      padding-top: 0rem
      padding-bottom: 0rem
      & .cardViewSingle
        position: absolute
        z-index: 20
        right: -15%
    & .cardViewSpacer
      height: calc(25vw - #{$cardViewSpacerHeight})
    & .cardViewer
      pointer-events: none
      position: absolute
      z-index: 100
      top: -5rem
      right: 0
      width: 100%
      height: 100%
      & img
        box-shadow: 0 0 5rem $primary
        transform: translateY(-80%) translateX(0%) rotateX(60deg) rotateZ(-50deg) scale(.9, .9)
    & .container
      position: relative
      z-index: 10


// Benefit section
.benefitsSection 
  @include licenseBenefitSharingStyle(benefitsSectionContent,$greyLight,10rem)
  .extends 
  .benefitsHeader
      font-size: 4rem
      margin-top: 10rem
      margin-bottom: 25rem


// License section
.licenseSection 
  @include licenseBenefitSharingStyle(licenseSectionContent,null,90rem)


// Impressum section
.impressumSection
  padding-top: 3rem
  color: $greyDarker
  & .impressumHeader
    font-weight: $bolder
    color: $primary
    padding-bottom: 1.5rem
  & p span 
    display: block

// Logo wall
.logoWall
  text-align: end
  margin-left: 50%
  display: flex
  justify-content: space-around


// Global styles
.cardViewContainer
  height: 100%
  width: 100%
.cardViewTriple
  height: 100%
  width: 100%
.cardViewSingle
  height: 100%
  width: 100%


// Original viewer styles for converting 2d image into 3d card -- not currently used
.cardViewer
  position: relative
  perspective: 50rem
  max-height: 635px
  max-width: 635px
  height: 50%
  width: 50%
  & img
    position: absolute
    top: 50%
    opacity: .6
    transform-style: preserve-3d
    perspective-origin: center center
    transform: $transform3D
  & .l-1
    transform: translateX(-5%) $transform3D
    top: 60%
    z-index: -1
  & .l1
    transform: translateX(5%) $transform3D
    top: 40%
    z-index: 1
  & .base
    opacity: 1
    box-shadow: -2px 5px 5px 0px $greyDarker !important

@import "navbar"
@import "topSection"
@import "feature"
@import "price"
@import "contact"
@import "footer"

@import "scroller"
@import "accordion"
@import "hamburger"
