@import "../../node_modules/bulma/sass/utilities/initial-variables"
@import "~bootstrap/dist/css/bootstrap.min.css"

@import "trafimage"

.navbar .navbar-menu
  box-shadow: none !important

//navbar
.navbar
  display: flex
  min-height: 3.25rem
  position: relative
  z-index: 30
  color: $white

.navbar-item
  font-weight: $boldish
  color: $white
  display: inline
  line-height: 1.5
  padding: 0.5rem 0.75rem
  position: relative
  vertical-align: middle

.icon
  position: relative
  align-items: center
  display: inline-flex
  justify-content: center
  height: 1.5rem
  width: 1.5rem
  margin: 0 .5rem
  vertical-align: middle
  top: -1px

.icon.is-small
  height: 1rem
  width: 1rem

.icon.is-medium
  height: 2rem
  width: 2rem

.icon.is-large
  height: 3rem
  width: 3rem

.navbar-end
  justify-content: flex-end
  margin-left: auto

// header section
.topSection
  & .headerBadge
    position: relative
    top: -.75rem
    margin-left: 5rem
    & .brandName
      font-variant: all-small-caps
      position: relative
      left: 2rem
      bottom: -0.75rem
    & h1
      border-bottom: 1px solid $white
    & .subtext
      font-size: .75rem
      display: flex
      justify-content: space-between
  & .cardViewer
    z-index: -99

// top right column
.scrollNav
  display: flex
  margin-top: 1rem
  justify-content: space-between
  & a
    font-weight: bold

.headerDescription
  & h1
    margin-top: 6rem
  & p
    margin-bottom: 2rem
  & .alignContainer
    display: flex
    justify-content: space-around
  & .btn
    padding: .5rem 2rem
    color: $white
    font-weight: bold
    border: 2px solid white
    border-radius: 2rem
  & .btn:hover
      background-color: $white
      color: $secondary

// benefits
.benefitsSection
  top: calc(100vw * 22.7 / 241.5)
  position: relative
  background-color: $greyLight
  padding-bottom: 10rem
  & .backgroundImage
    top: calc(-100vw * 22.7 / 241.5)
    position: absolute
    z-index: 10
    width: 100%
    height: calc(100vw * 60.5 / 241.5)
  & h1
    color: $primary
  & .cardViewer
    z-index: 100
    position: absolute
    top: 5rem
    right: 0
    width: 60%
  & .container
    position: relative
    z-index: 10
  & .benefitsHeader
    margin-top: 10rem
    margin-bottom: 20rem
  & .thinColumnScroller
    display: flex
    flex-direction: column
    width: $thinColumnWidth
    & a
     color: $greyDark
  & .accordion
    height: 100px
    background: #28b2a2
.spezifikationSection
  top: calc(100vw * 22.7 / 241.5)
  position: relative
  background-color: $white
  padding-bottom: 5rem
  margin-bottom: 15rem
  & .backgroundImage
    top: calc(-100vw * 22.7 / 241.5)
    position: absolute
    z-index: 10
    width: 100vw
  & .bottomImage
    top: unset
    bottom: calc(-100vw * 27.5 / 241.5)
    position: absolute
    z-index: 10
    width: 100vw
  & h1
    color: $primary
  & p
    margin: 2rem 0 3rem 0
    color: $greyDarker
  & .container
    position: relative
    z-index: 10
  & .speziHeader
    position: relative
    padding-top: 2rem
  & .specRow
    margin-left: -50px
  & .specCol
    font-weight: $boldish
    border-left: 2px solid $greyLight
    color: $greyDarker
    & h5
      margin-left: 35px
      height: 3rem
    & ul
      list-style-type: none
      & li
        text-indent: -5px
      & li:before
        content: "- "
        text-indent: -5px
  & .specCol.first
    border-left: none
.priceSection
  position: relative
  background: linear-gradient(90deg, $primary, $secondary)
  padding-bottom: 5rem
  & h1, p
    color: $white
  & .container
    position: relative
    z-index: 10
  & .discountBadge
    position: absolute
    right: 10rem
    top: -2rem
    width: calc(100vw * 40 / 241.5)
    height: calc(100vw * 40 / 241.5)
  & .priceHeader
    position: relative
    padding-top: 7rem
    padding-bottom: 2rem
  & .priceCardArea
    margin-top: 4rem
  & .priceCard
    background-color: $white
    padding: .25rem
    color: $greyDarker
    & .priceCardHeader
      background: linear-gradient(90deg, $primary, $secondary)
      color: $white
      & .padder
        padding: .5rem 1rem 0 1rem
        margin-bottom: -.5rem
        & .brandName
          font-variant: all-small-caps
          font-weight: lighter
        & .title
          font-size: .75rem
        & h2
          margin-top: -.5rem
      & .backgroundImage
        margin-bottom: -1px
        margin-top: 1px
    & .priceCardBody
      text-align: center
      & .desc
        margin-top: 1rem
        height: 9rem
      & hr
        width: 50%
        color: $greyLight
      & .gratis
        font-weight: bolder
        color: $primary
      & .oldPrice
        margin-bottom: 2rem
      & .btn
        display: block
        width: calc(100% - 2rem)
        background-color: $cyanDark
        border-radius: 3rem
        color: $white
        font-weight: $bold
        margin: 1rem
      & .blue-btn
        background: linear-gradient(90deg, $primary, $secondary)

  & .conditions
    margin-top: 5rem
    color: $white

.contactSection
  top: calc(100vw * 22.7 / 241.5)
  position: relative
  background-color: $white
  padding-bottom: 2rem
  margin-bottom: 5rem
  color: $greyDarker
  & .backgroundImage
    top: calc(-100vw * 22.7 / 241.5)
    position: absolute
    z-index: 10
    width: 100vw
  & .contactHeader
    padding-top: 5rem
    font-weight: $bolder
    color: $primary
  & h5, p
    margin: 2rem 0
  & .twitter
    width: 2rem
    height: 2rem
    margin-top: 1rem

// for creating a predictable spacing above the footer after all the relative elements
.aboveFooter
  width: 100vw
  background-color: $white
  height: 3rem

// footer
.footer
  position: relative
  bottom: 0
  padding: 2rem
  color: $white
  display: flex
  justify-content: space-between
  background: linear-gradient(90deg, $primary, $secondary)
  & .menu
    & .menu-list
      display: flex
      margin: 0
      list-style: none
      flex-direction: row
  & .brandName
    font-variant: all-small-caps
  & .logo
    margin: 0 1rem

// logo wall
.logoWall
  text-align: end

// global helpers
.is-transparent
  background: transparent

.is-bold
  font-weight: $bold

.is-bolder
  font-weight: $bolder

.is-white
  color: $white

.is-cyan
  color: $cyanDark


.is-smaller
  font-size: .75rem

.has-text-centered
  text-align: center !important

.rightColumn
  margin-left: $thinColumnWidth