@import "../../node_modules/bulma/sass/utilities/initial-variables"

// Colours
$primary: #2982b8
$secondary: #63a5ce
$white: #fffefe
$greyLight: #f9f7f6
$greyDark: #aaaca9
$greyDarker: #595c5a
$cyanDark: #28b2a2

// Text & Font
$boldish: 500
$bold: 600
$bolder: 700

// spacing
$thinColumnWidth: 15rem

body
  min-width: 290px
  background: linear-gradient(90deg, $primary, $secondary)

html
  scroll-behavior: smooth

// global styles
.cardViewer
  text-align: center
  width: 100%
  height: 500px
  background-color: rgba(.5,.5,.5,.5)
