@import "../../node_modules/bulma/sass/utilities/initial-variables"
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')

@font-face 
    font-family: 'Lato'
    src: url('../fonts/Lato-Regular.eot')
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/Lato-Regular.woff2') format('woff2')
    src: url('../fonts/Lato-Regular.woff') format('woff')
    src: url('../fonts/Lato-Regular.ttf') format('truetype')
    src: url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg')
    font-weight: normal
    font-style: normal

@font-face 
    font-family: 'Lato'
    src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/Lato-Black.woff2') format('woff2')
    src: url('../fonts/Lato-Black.woff') format('woff')
    src: url('../fonts/Lato-Black.ttf') format('truetype')
    src: url('../fonts/Lato-Black.svg#Lato-Black') format('svg')
    font-weight: 900
    font-style: normal

@font-face 
    font-family: 'Lato'
    src: url('../fonts/Lato-BlackItalic.eot')
    src: url('../fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/Lato-BlackItalic.woff2') format('woff2')
    src: url('../fonts/Lato-BlackItalic.woff') format('woff')
    src: url('../fonts/Lato-BlackItalic.ttf') format('truetype')
    src: url('../fonts/Lato-BlackItalic.svg#Lato-BlackItalic') format('svg')
    font-weight: 900
    font-style: italic

@font-face 
    font-family: 'Lato Hairline'
    src: url('../fonts/Lato-Hairline.eot')
    src: url('../fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/Lato-Hairline.woff2') format('woff2')
    src: url('../fonts/Lato-Hairline.woff') format('woff')
    src: url('../fonts/Lato-Hairline.ttf') format('truetype')
    src: url('../fonts/Lato-Hairline.svg#Lato-Hairline') format('svg')
    font-weight: 300
    font-style: normal

@font-face 
    font-family: 'Lato'
    src: url('../fonts/Lato-LightItalic.eot')
    src: url('../fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/Lato-LightItalic.woff2') format('woff2')
    src: url('../fonts/Lato-LightItalic.woff') format('woff')
    src: url('../fonts/Lato-LightItalic.ttf') format('truetype')
    src: url('../fonts/Lato-LightItalic.svg#Lato-LightItalic') format('svg')
    font-weight: 300
    font-style: italic

@font-face 
    font-family: 'Lato'
    src: url('../fonts/Lato-Italic.eot')
    src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/Lato-Italic.woff2') format('woff2')
    src: url('../fonts/Lato-Italic.woff') format('woff')
    src: url('../fonts/Lato-Italic.ttf') format('truetype')
    src: url('../fonts/Lato-Italic.svg#Lato-Italic') format('svg')
    font-weight: normal
    font-style: italic

@font-face 
    font-family: 'Lato'
    src: url('../fonts/Lato-Light.eot')
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/Lato-Light.woff2') format('woff2')
    src: url('../fonts/Lato-Light.woff') format('woff')
    src: url('../fonts/Lato-Light.ttf') format('truetype')
    src: url('../fonts/Lato-Light.svg#Lato-Light') format('svg')
    font-weight: 300
    font-style: normal

@font-face 
    font-family: 'Lato Hairline'
    src: url('../fonts/Lato-HairlineItalic.eot')
    src: url('../fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/Lato-HairlineItalic.woff2') format('woff2')
    src: url('../fonts/Lato-HairlineItalic.woff') format('woff')
    src: url('../fonts/Lato-HairlineItalic.ttf') format('truetype')
    src: url('../fonts/Lato-HairlineItalic.svg#Lato-HairlineItalic') format('svg')
    font-weight: 300
    font-style: italic

@font-face 
    font-family: 'Lato'
    src: url('../fonts/Lato-Bold.eot')
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/Lato-Bold.woff2') format('woff2')
    src: url('../fonts/Lato-Bold.woff') format('woff')
    src: url('../fonts/Lato-Bold.ttf') format('truetype')
    src: url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg')
    font-weight: bold
    font-style: normal

@font-face 
    font-family: 'Lato'
    src: url('../fonts/Lato-BoldItalic.eot')
    src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype')
    src: url('../fonts/Lato-BoldItalic.woff2') format('woff2')
    src: url('../fonts/Lato-BoldItalic.woff') format('woff')
    src: url('../fonts/Lato-BoldItalic.ttf') format('truetype')
    src: url('../fonts/Lato-BoldItalic.svg#Lato-BoldItalic') format('svg')
    font-weight: bold
    font-style: italic

// Colours
$primary: #1789c9
$secondary: #63b3f4
$white: #fffefe
$greyLight: #f9f9f9
$greyMid: #ededed
$greyDark: #aaaca9
$greyDarker: #595c5a
$cyanDark: #28b2a2
$red: #ff0000

$baseFontSize: 1rem
$baseFontFamily: 'lato', sans-serif

$background: $primary
$link: $primary
$border: 0
$transform3D: translateY(-50%) translateX(-30%) rotateX(50deg) rotateZ(-20deg) scale(.6, .6)

// Text & Font
$boldish: 500
$bold: 600
$bolder: 700

// spacing
$thinColumnWidth: 15rem

// screen sizing
$screen-extra-large: 1200px
$mobile_max_size: 768px

body
  margin: auto
  min-width: 100vw
  color: $greyDarker
  overflow-x: hidden

html
  scroll-behavior: smooth
  overflow-x: hidden
  font-family: $baseFontFamily

h1
  font-size: 4rem

h2
  font-size: 2.5rem

a
  color: $greyDarker
  
a:hover,
a:focus
  text-decoration: none
button
  text-decoration: none
  background-color: transparent
  border: none
  cursor: default
  display: inline
  margin: 0
  padding: 0
  -webkit-appearance: unset
  -webkit-tap-highlight-color: unset
  text-decoration: none

button:hover,
button:focus
  text-decoration: none
  outline: none

